<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReSharpersCooperation</title>


        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">The Fresh Fish</a>
        <form asp-controller="Product" asp-action="Search" class="form-inline my-2 my-lg-0 ">
            <div class="input-group">
                <div class="input-group-prepend search-panel">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="search_concept">Αναζήτηση</span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#Name">Όνομα</a>
                        <a class="dropdown-item" href="#HighestFirst">Ακριβότερα Πρώτα</a>
                        <a class="dropdown-item" href="#LowestFirst">Φθηνότερα Πρώτα</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Όλα</a>
                    </div>
                </div>
                <input type="hidden" name="type" value="all" id="search_param" />
                <input name="query" class="form-control " type="search" placeholder="Search our Shop" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </form>

        @await Html.PartialAsync("_LoginPartial")
    </nav>
    <section class="container-fluid">

        @RenderBody()

    </section>
    <div class="container-fluid " id="footerr" >
        <footer class="footer-bs" style="padding: 30px 40px; background-color:#092b69">
            <div class="row">
                <div class="col-md-4">
                    <h5>The Fresh Fish</h5>
                    <div style="font-size: small">© 2018 ReSharpers Cooperation</div>
                </div>
                <div class="col-md-4">
                    <h5>Links</h5>
                    <div >
                        <span style="font-size: small; margin-right: 20%; margin-left: 0%">About Us</span>
                        <span style=" font-size: small">Contacts</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Φρέσκα Ψάρια Καθημερινά στο e-mail σας</h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your E-mail">
                        <span class="input-group-btn input-group-append">
                            <button class="btn btn-default" type="button" id="newsletterbutton"><span class="fa fa-envelope"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </footer>
    </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL4u0Yv9x7oH_HWVT0MHSeaXoVoRgz2oc&callback=initMap"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
