<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReSharpersCooperation</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">ReSharpersCooperation</a>
        <form asp-controller="Product" asp-action="Search" class="form-inline my-2 my-lg-0 ">
            <div class="input-group">
                <div class="input-group-prepend search-panel">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="search_concept">Search By</span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#Name">Name</a>
                        <a class="dropdown-item" href="#HighestFirst">Highest First</a>
                        <a class="dropdown-item" href="#LowestFirst">Lowest Price First</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">All</a>
                    </div>
                </div>
                <input type="hidden" name="type" value="all" id="search_param" />
                <input name="query" class="form-control " type="search" placeholder="Search our Shop" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </form>

        @await Html.PartialAsync("_LoginPartial")
    </nav>
    <section class="container-fluid">

        @RenderBody()

    </section>
    <div class="container-fluid " id="footerr" >
        <footer class="footer-bs" style="padding: 30px 40px; background-color:#092b69">
            <div class="row">
                <div class="col-md-4">
                    <h5>The Fresh Fish</h5>
                    <div style="font-size: small">© 2018 ReSharpers Cooperation</div>
                </div>
                <div class="col-md-4">
                    <h5>Links</h5>
                    <div >
                        <span style="font-size: small; margin-right: 20%; margin-left: 0%">About Us</span>
                        <span style=" font-size: small">Contacts</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Newsletter</h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Subscribe to our newsletter for Great offers">
                        <span class="input-group-btn input-group-append">
                            <button class="btn btn-default" type="button" id="newsletterbutton"><span class="fa fa-envelope"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL4u0Yv9x7oH_HWVT0MHSeaXoVoRgz2oc&callback=initMap"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                crossorigin="anonymous"
                integrity="sha384-Fnqn3nxp3506LP/7Y3j/25BlWeA3PXTyT1l78LjECcPaKCV12TsZP7yyMxOe/G/k">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                crossorigin="anonymous"
                integrity="sha384-JrXK+k53HACyavUKOsL+NkmSesD2P+73eDMrbTtTk0h4RmOF8hF8apPlkp26JlyH">
        </script>
    </environment>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
