@using Microsoft.AspNetCore.Identity
@using ReSharpersCooperation.Models
@using ReSharpersCooperation.Models.ProductVIewModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject CartItemRepository Repository

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav nav-item justify-content-end ">
        <ul class="nav nav-item ">
            <li><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="ViewWishList" title="Wish List"><span class="fa fa-heart" aria-hidden="true"> (0)</span> </a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index" asp-route-user="@UserManager.GetUserName(User)" title="Cart"><span class="fa fa-shopping-cart" aria-hidden="true"> (@Repository.CountCartProducts(UserManager.GetUserName(User)))</span></a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Checkout" title="Checkout"><span class="fa fa-credit-card" aria-hidden="true"></span> </a></li>
            <li>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav nav-item dropdown">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="nav nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> @UserManager.GetUserName(User)</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="btn navbar-btn dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Edit your Account">My Account </a>
                        <a class="btn btn-link navbar-btn navbar-link dropdown-item" asp-area="" asp-controller="Manage" asp-action="ViewOrders" title="View your Past Orders">My Orders </a>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="nav nav-item justify-content-end ">
        <ul class="nav nav-item">
            <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>
        </div>
        }
