@model ReSharpersCooperation.Models.OrdersViewModel.OrdersViewModel

@{
    ViewData["Title"] = "Checkout";
}
@if (Model.OutOfStock != null && Model.OutOfStock.Count != 0)
{
    foreach (var item in Model.OutOfStock)
    {
        <div class="text-danger">
            @item.ProductName is out of stock!
        </div>
    }
}
<p class="text-danger">@ViewData["Error"]</p>
<h2>Please, complete an address</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <input type="hidden" asp-for="TotalCost" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderName" class="control-label"></label>
                <input asp-for="OrderName" class="form-control" />
                <span asp-validation-for="OrderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <select asp-for="PaymentMethod" class="form-control" onchange="yesnoCheck(this);">
                    <option selected>Choose Payment Option</option>
                    <option value="creditcard">Credit Card</option>
                    <option value="sitebalance">Site Balance</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div id="ifYes" style="display: none;">
                <label asp-for="Creditcard" class="control-label">Credit Card Number</label>
                <input asp-for="Creditcard" class="form-control" />
                <span asp-validation-for="Creditcard" class="text-danger"></span>
            </div>

                <p>Current Balance:@Model.CurrentBalance.ToString("C")</p>
                <p>Total Cost:@Model.TotalCost.ToString("C")</p>
                <div class="form-group">
                    <input asp-action="Checkout" type="submit" value="Complete Order" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Product" asp-action="List">Back to List</a>
</div>

