
@{
    ViewData["Title"] = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="inline">
    <div class="one"><h2>Your order has been successfully placed.<br/>Thank you!</h2><br/></div>
</div>