@model IEnumerable<IGrouping<int, ReSharpersCooperation.Models.TotalOrders>>

@{
    ViewData["Title"] = "Orders";
}

<h2 style="margin-bottom: 3%; text-align: center; text-decoration: underline">My Orders</h2>

@foreach (var item in Model)
{
    <table class="tborders">
        <tr>
            <td>
                <table class="tbOrdersHead">
                    <thead>
                        <tr>
                            <th>Order Placed: @item.Select(x => x.OrderDate).First().ToString("dd/MM/yyyy")</th>
                            <th>Total: </th>
                            <th>Order # @item.Key</th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="tbOrdersBody table-hover">
                    @foreach (var order in item)
                    {
                        <tr>
                            <td>@order.ProductName</td>
                            <td>Quantity: @order.Quantity</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
}
