@model ReSharpersCooperation.Models.Category.Category

@{
    ViewData["Title"] = "CreateCategory";
}

<h2>CreateCategory</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryDesc" class="control-label"></label>
                <input asp-for="CategoryDesc" class="form-control" />
                <span asp-validation-for="CategoryDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryImage" class="control-label"></label>
                <input asp-for="CategoryImage" class="form-control" />
                <span asp-validation-for="CategoryImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryParent" class="control-label"></label>
                <input asp-for="CategoryParent" class="form-control" />
                <span asp-validation-for="CategoryParent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

