
@{
    ViewData["Title"] = "Admin Panel";
}

<div id="inline">
    <div class="one"><h2>Admin Panel</h2></div>
</div>

<div class="row">
    <a asp-controller="Admin" asp-action="Index" class="card col-3">
        <img class="card-img-top" src="~/images/Admin/Admin_Home_Products.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-center" style="font-weight: bold">View All Shop's Products.</p>
        </div>
    </a>
    <a asp-controller="Admin" asp-action="AdminViewTotalOrders" class="card col-3">
        <img class="card-img-top" src="~/images/Admin/Admin_Home_Orders.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-center" style="font-weight: bold">View all Orders.</p>
        </div>
    </a>
    <a asp-controller="Admin" asp-action="Transactions"class="card col-3">
        <img class="card-img-top" src="~/images/Admin/Admin_Home_Transactions.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-center" style="font-weight: bold">View all Transactions.</p>
        </div>
    </a>
    <a asp-controller="Admin" asp-action="Users" class="card col-3">
        <img class="card-img-top" src="~/images/Admin/Admin_Home_Users.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-center" style="font-weight: bold">View all Users.</p>
        </div>
    </a>
</div>

