body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*FOOTER CSS START*/
.footer-bs {
    background-color: #222222;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 0px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}

    .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
        padding: 10px 25px;
    }

    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
        border-color: transparent;
    }

    .footer-bs .footer-brand h2 {
        margin: 0px 0px 10px;
    }

    .footer-bs .footer-brand p {
        font-size: 12px;
        color: rgba(255,255,255,0.70);
    }

    .footer-bs .footer-nav ul.pages {
        list-style: none;
        padding: 0px;
    }

        .footer-bs .footer-nav ul.pages li {
            padding: 5px 0px;
        }

        .footer-bs .footer-nav ul.pages a {
            color: rgba(255,255,255,1.00);
            font-weight: bold;
            text-transform: uppercase;
        }

            .footer-bs .footer-nav ul.pages a:hover {
                color: rgba(255,255,255,0.80);
                text-decoration: none;
            }

    .footer-bs .footer-nav h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    .footer-bs .footer-nav ul.list {
        list-style: none;
        padding: 0px;
    }

        .footer-bs .footer-nav ul.list li {
            padding: 5px 0px;
        }

        .footer-bs .footer-nav ul.list a {
            color: rgba(255,255,255,0.80);
        }

            .footer-bs .footer-nav ul.list a:hover {
                color: rgba(255,255,255,0.60);
                text-decoration: none;
            }

    .footer-bs .footer-social ul {
        list-style: none;
        padding: 0px;
    }

    .footer-bs .footer-social h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .footer-bs .footer-social li {
        padding: 5px 4px;
    }

    .footer-bs .footer-social a {
        color: rgba(255,255,255,1.00);
    }

        .footer-bs .footer-social a:hover {
            color: rgba(255,255,255,0.80);
            text-decoration: none;
        }

    .footer-bs .footer-ns h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    .footer-bs .footer-ns p {
        font-size: 12px;
        color: rgba(255,255,255,0.70);
    }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
        border-left: solid 1px rgba(255,255,255,0.10);
    }
}

#footerr {
    padding-left: 0px;
    padding-right: 0px;
}
/*FOOTER CSS END*/
.nav-link {
    color: white;
}

#newsletterbutton {
    background-color: white;
    border-color: white;
}

#Filters {
    margin-top: 3rem;
}

/*pg: style about Admin/Index/Details*/
#myModal .modal-content {

    background-color: #d2e0dc;
}

#myModal .modal-header {
    border-bottom-color: #d2e0dc;
}

#modal-body {
    padding-bottom: 42px;
}
/*pg: END*/

/*pg: style about orders*/
table.tborders {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d0d0d0;
    margin-bottom: 2%;
}

table.tbOrdersHead {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #f7f7f7;
    border: 1px solid #d0d0d0;
}

    table.tbOrdersHead th {
        width: 25%;
    }

        table.tbOrdersHead th.btn {
            width: 31%;
            text-align: center;
        }

#tbOrdersHead-admin.tbOrdersHead th {
    background-color: #b2e3f9;
    width: 20%;
}

    #tbOrdersHead-admin.tbOrdersHead th.btn {
        width: 31%;
        text-align: center;
    }

table.tbOrdersBody {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

    table.tbOrdersBody td {
        width: 50%;
    }
/*pg: END*/

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: red;
}

/*GOOGLE MAPS CSS BEGIN*/
.map {
    height: 300px;
    width: 100%;
}
/*GOOGLE MAPS CSS END*/

/*pg: pg: style about search orders*/
#inline {
    width: 100%;
    display: flex;
    margin-bottom: 1%;
}

    #inline .one {
        width: 85%
    }

    #inline .two {
        width: 15%;
    }
/*pg: END*/

/*PRODUCT TABLE CSS BEGIN*/

#productTable th {
    cursor: pointer;
}

/*pg: style*/
#inline {
    padding-top: 2%;
}

    #inline .one {
        text-align: left;
    }

        #inline .one h2 {
            font-weight: 700;
            text-decoration: underline;
            color: #117a8b;
        }

    #inline .two {
        text-align: center;
    }

.control-label {
    color: black;
    font-weight: 500
}

.bg-dark {
    background-color: #062c73 !important;
}

.btn {
    color: black;
}

.badge {
    background-color: #86b7d4;
    color: black;
}

.card {
    border-color:#86b7d4 ;
    border-width: 3px;
}
.btn-info {
    background-color: #86b7d4 !important;
}

.btn-success {
    background-color: #62e27f !important;
    border-color: #62e27f;
}

.btn-warning {
    background-color: #ec8e97 !important;
    border-color: #ec8e97;
}

.btn-danger {
    background-color: red !important;
}

.fa-shopping-cart {
    color: #62e27f;
}
.fa-heart {
    color: #ec8e97;
}

.m-1 {
    margin: 1rem !important;
}
.rounded-circle 
{
    border: solid 3px #86b7d4;
}