@{
    ViewData["Title"] = "Home Page";
}

<h2>Successfull Account Registration</h2>

<p>Thank you for registering to our e-shop.</p>
<p>
   An email to confirm your account will be sent to your address shortly.
   After confirming your account you will be able to fully access all the services of our site.
</p>

<p>Resharpers Team</p>


<p>To return to the product list please follow the link: <a asp-controller="Product" asp-action="List">List of Products</a></p>





