@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Welcome to Resharpers e-shop!
        Your Account has been confirmed. You can now enjoy all the great services we offer.

        Resharpers Team
    </p>
</div>
