@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    An email will be sent shortly to your adress with instructions on how you can reset your password. 
    Please check your inbox and reset your password.

    Thank you!
</p>
