@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2 class="py-3">@ViewData["Title"]</h2>
<p class="py-5">
    Your password has been successfuly reset. 
    
    Please click <a asp-action="Login"> here</a> to log in.
</p>
