@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been successfuly reset. 
    
    Please click <a asp-action="Login"> here</a> to log in.
</p>
